<%= form_for @question do |q| %>

	<p class="question_title"><%= q.text_area :title, placeholder: "Your Question", :rows => 2, class: "new_answer_content" %></p>
	<br>
	<br>
	<p class="question_body"><%= q.text_area :body, placeholder: "BODY", :rows => 10,  class: "new_answer_content" %></p>
	<br>
	<br>
	<p class="question_body"><%= q.text_field :tag_list, placeholder: "Tags (separate with commas)", class: "new_answer_content" %></p>
	<br>
	<br>
	<%= q.submit "SUBMIT", class: "submit_btn" %>

<% end %>