<div class="page_container">
	<h1>QUESTIONS</h1>
	<div class="mainbar">
		<ul class="nav nav-tabs">
		  <li><a href="#home" data-toggle="tab">Newest</a></li>
		  <li><a href="#profile" data-toggle="tab">Featured</a></li>
		  <li><a href="#messages" data-toggle="tab">Voted</a></li>
		</ul>
		
			<ul>
			<% @questions.reverse_each do |q| %>
				<li class="liststyle">
					<div class="question_stack">
						<div class="vote_wrapper">
								<div class="vote_btn"><%= link_to (image_tag "uparrow.svg", :title => 'Vote Up!'), upvote_path(id: q.id), class: "votearrows" %></div>
							<div class="vote_btn vote_counter"><%= q.vote_count %></div>
							<div class="vote_btn"><%= link_to (image_tag "downarrow.svg", :title => 'Vote Down..'), downvote_path(id: q.id), class: "votearrows" %></div>
						</div>
					</div>
					<div class="question_stack q_part">
						<%= link_to (q.title), question_path(q.id), class: "q_list" %><br>
						<div class="touch_q">Follow</div>
						<div class="touch_q"><%= link_to 'Edit', edit_question_path(q) %></div>
						<div class="touch_q"><%#  button_to "X", { action: "destroy", id: q.id },
						{method: :delete, data: { confirm: "Are you sure?" }, :class => "mybutton" } %></div>
						<div class="user_img">User</div>
					</div>
				</li>
			<% end %>
			</ul>
			
	</div>
	
	<div class="sidebar">
		ads
	</div>
</div>