<div class="page_container">
	<h1><%= @question.title %></h1> <br>
	<div class="question_content"><p>
		<%= @question.body %></p></div>
		<%= link_to "U", upvote_path(id: @question.id) %>
		<br>
		<%= @question.vote_count %><br>
	<%= link_to 'Edit', edit_question_path(@question) %>
	<%# link_to 'Delete', edit_question_path(@question) %><br>
	Tags: <%= raw @question.tags.map(&:tag_name).map { |t| link_to t, new_question_tag_path(t) }.join(', ') %>

	<% if @question.answers.size > 0 %>
	  <h3>Answers</h3>
	  <% @question.answers.each do |a| %>
		<%= a.body %> <br>
	  <% end %>
	<% end %>

	<h4>New Answer</h4>
	<%= form_for [@question, Answer.new] do |f| %>
	  <p class="new_answer_content"><%= f.text_area :body, :rows => 10 %></p>
	  <p><%= f.submit %></p>
	<% end %>
</div>