<div class="page_container">
	<div id="mainbar">
		<h1>FEED</h1>
			<ul>
			<% @questions.profile.each do |p| %>
				<%= p.label :real_name "Your Real Name" %> <%= p.text_field :real_name %>
				<%= p.label :location "City" %> <%= p.text_field :location %>
				<%= p.label :specialties "City" %> <%= p.text_field :specialties %>
			<% end %>
			</ul>
		</div>
		<div id="sidebar">
			ads
	</div>
</div>