<div class="page_container">
	<div class="signup_div">
		<h1 class="signin_header">Log In</h1>
		<div class="signup_wrapper">
		<%= form_for @user, {url: "/authentications", method: "post", class: "signup_wrapper"} do |a| %>

			<p>
				<%= a.text_field :email, placeholder: "EMAIL", class: "form_style" %>
			</p>

			<p>
				<%= a.password_field :password, placeholder: "PASSWORD", class: "form_style" %>
			</p>

			<p>
				<%= a.submit "Login", class: "submit_btn" %>
			</p>
			<p>New user? <%= link_to "Sign up now!", signup_path %></p>

		<% end %>
		User ID: <%= session[:user_id] %>
		</div>
	</div>
</div>