<%= form_for @user, {url: "/authentications", method: "post"} do |a| %>

	<p>
		<%= a.label :email, "Email:" %> <br>
		<%= a.text_field :email %>
	</p>

	<p>
		<%= a.label :password, "Password:" %> <br>
		<%= a.password_field :password %>
	</p>

	<p>
		<%= a.submit "Login" %>
	</p>
	<p>New user? <%= link_to "Sign up now!", signup_path %></p>

<% end %>
User ID: <%= session[:user_id] %>