<div class="page_container">
	<div class="signup_div">
		<h1 class="signin_header">Sign Up</h1>
		<div class="signup_wrapper">
			<%= form_for @user do |u| %>

				<p>
					<%= u.text_field :name, placeholder: "NAME", class: "form_style" %>
				</p>

				<p>
					<%= u.text_field :email, placeholder: "EMAIL", class: "form_style" %>
				</p>

				<p>
					<%= u.password_field :password, placeholder: "PASSWORD", class: "form_style" %>
				</p>

				<p>
					<%= u.password_field :password_confirmation, placeholder: "CONFIRM PASSWORD", class: "form_style" %>
				</p>

				<p>
					<%= u.submit "Create New User", class: "submit_btn" %>
				</p>

			<% end %>
			User ID: <%= session[:user_id] %>
		</div>
	</div>
</div>