<!DOCTYPE html>
<html>
<head>
  <title>Pausm: it's really awesome</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
	<link rel="stylesheet" href="css/prettyPhoto.css" type="text/css" media="screen" charset="utf-8" />
</head>
<body>

	<%= render "layouts/navbar" %>

	<div class="ask_question"><%= link_to "Ask Question", new_question_path, class: "ask_question" %> </div>

	<div id="container">
		
		<%= yield %> <!-- grabs templates and other info from elsewhere -->

	</div>

</body>
</html>
